.navbar-light .navbar-nav .nav-link {
    font-weight: 500;
    color: #204f87;
    font-size: 18px;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: red;
}
.banner{
    background-image: url(../images/banner.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    
}
.banner-content h1{
    color: #fff;
    font-size: 68px;
    text-transform: uppercase;
}
.hg{
    min-height: 70vh;
    align-items: center;
}
.who-we-are{}
.who-we-are span{
    height: 5px;
    width: 60px;
    color: #f2622c;
    display: inline-block;
}
.who-we-are h1{
    text-transform: uppercase;
    color: #1f4f87;
}
.who-we-are p{
    color: #b0b0b1;
}
.arrow-icon{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 20px;
    animation: updown 0.8s linear infinite;
    animation-direction: alternate;
}

@keyframes updown{
    0%{
        top: 90%;
    }
    100%{
        top: 80%;
    }
}